<head>
    <title>Today's wisdom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        h4{
            text-decoration:underline;
            text-align:center;
            vertical-align:middle;
        }
        h1{
            text-align:center;
            vertical-align:middle;
        }
    </style>
</head>
<body>
    <h1>Today's wisdom:</h1>
    <br>
    <h4><%= @wisdom %></h4>
</body>
